@import "tailwindcss";
@plugin "daisyui";

/* Tailwind-ke dark mode er strategy bole deya */
@custom-variant dark (&:where(.dark, [data-theme="dark"], .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-bg: #ffffff;
  --border-color: #f3f4f6;
  
  /* Font variables */
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-hind-siliguri: "Hind Siliguri", sans-serif;
}

.dark, [data-theme="dark"] {
  --background: #0b1120;
  --foreground: #ededed;
  --nav-bg: #0b1120;
  --border-color: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-hind-siliguri), var(--font-geist-sans), sans-serif;
}

/* Bangla text specific styling */
.bangla-text {
  font-family: var(--font-hind-siliguri), sans-serif;
  font-weight: 500;
}

/* English text specific styling */
.english-text {
  font-family: var(--font-geist-sans), sans-serif;
}

